@mixin display-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

@mixin shadow($color, $percent){
    box-shadow:2px 5px 5px 2px darken($color, $percent);
}

@mixin media($breakpoint, $breakpoints){
    @media screen and (min-width:$breakpoint) and (max-width:$breakpoints){
        @content;
    }
}
@mixin media-min($breakpoints){
    @media screen and (min-width:$breakpoints){
        @content;
    }
}