$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$white: #fff;
$black: #000;
$fo-black:#353535;
$lo-text-grey:#353535;
$ab-grey: #F6F6F6;
$lo-grey:#EAEAEA;
$ab-text-grey:#7E7E7E;
$fun-box-lilas:#F5ECFF;

$tel-text-size: 1.1em;

$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-desktop-max:1200px;







