$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$white: #fff;
$black: #000;
$light-black: #353535;
$light-grey: #f6f6f6;
$grey: #eaeaea;
$mid-grey: #7e7e7e;
$lilas: #f5ecff;
$new-text: #1f9577;

$tel-text-size: 1.1em;

$bp-tel: 576px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-desktop-max: 1200px;
$max-width: 1180px;

$font: "Shrikhand", cursive;

$waiting-time: 150ms;
$animation-time: 1s 1.2s 1.4s 1.6s;
