.btn {
  margin-top: 30px;
  margin-bottom: 50px;
  height: 50px;
  width: 210px;
  border-radius: 35px;
  @include shadow($light-grey, 15%);
  color: $white;
  font-weight: 500;
  @include display-center;
  background:linear-gradient(170deg, $secondary-color 10%, $primary-color);
  &:hover{
    transition:.4s;
    opacity:0.8;
    box-shadow: 0.25rem 0.25rem 10px darken($light-grey, 25%);

  }
}
