#location{
    display: flex;
    background-color: $lo-grey;
    height: 65px;
    @include display-center;
    box-shadow:0 3px 3px inset darken($lo-grey, 10%);
    p{
font-weight:500;
font-size: 1.3em;
color:$lo-text-grey;
i{
    padding-right: 20px;
}
    }
}

#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   padding: 40px;
   background-color:$ab-grey;
   width: 100%;
   p{
       font-size: 1.6em;
       line-height: 1.1em;
       color:$ab-text-grey;
       font-weight:300;
   }
}

#functionning{
    padding: 40px 20px;
    width: 100%;
    ol{
        counter-reset: my-counter;
 padding: 20px;
 display: flex;
flex-flow: row wrap;
gap: 20px;

li{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    height: 75px;
    background:$ab-grey;
    border-radius: 25px;
    align-items: center;
    counter-increment: my-counter;
    font-size: 1.4em;
    font-weight:500;
    @include shadow($ab-grey, 5%);
    &::before{
        content: counter(my-counter);
        display: flex;
        @include display-center;
        min-height: 30px;
        min-width: 30px;
        background-color: $primary-color;
        border-radius: 50%;
        color: $white;
        margin-right: 20px;
        position: relative;
        right: 15px;
    }
    i {
        color:$ab-text-grey;
        font-size: 1.3em;
        margin-right: 30px;
    }
}      
}
}
#restaurants{
background-color:$ab-grey;
padding: 50px 20px;
article{
    width:100%;
    figure{
        width:100%;
        display:flex;
        flex-direction: column;
        @include shadow($ab-grey, 5%);
    border-radius: 15px;
        image{
            object-fit: cover;
            height:200px;
            width:100%;
        }
        figcaption{
            height: 50px;
            background-color: $white;
        }
    }
}
}
