footer{
    background-color:$light-black;
    color:$white;
    padding: 30px;
nav{
    h3{
        font-family: 'Shrikhand', cursive;
    }
    ul{
list-style: none;
margin: 20px 0;
line-height: 1.6em;
li{
    font-size:$tel-text-size;
    &:nth-child(3), &:nth-child(4){
font-weight:300;}
&:nth-child(2) i{
    font-size:0.7em;
} 
    a{
        color: $white;
        i{
            margin-right: 10px;
            
        }
    }
}
    }}}