footer{
    background-color:$light-black;
    color:$white;
    padding: 30px;
nav{
    @include media-min($bp-desktop-max){
        @include margin-destop-max;
    }
    h3{
        font-family: 'Shrikhand', cursive;
    }
    ul{
list-style: none;
margin: 20px 0;
line-height: 1.6em;
li{
    font-size:$tel-text-size;
} 
    a{
        color: $white;
        i{
            margin-right: 10px;
            width: 18px;
        }
    }
}
    }}