#location{
    display: flex;
    background-color: $lo-grey;
    height: 60px;
    @include display-center;
    box-shadow:0 3px 3px inset darken($lo-grey, 10%);
    p{
font-weight:500;
font-size: $tel-text-size;
color:$lo-text-grey;
i{
    padding-right: 15px;
}
    }
}

#about-us{
    display: flex;
   text-align: center;
    flex-direction: column;
    text-align: center;
    align-items:center;
   background-color:$ab-grey;
   h1{
       margin:40px 20px 20px;
   }
   p{
       font-size: $tel-text-size;
       color:$ab-text-grey;
       font-weight:300;
   }
}

#functionning{
    ol{
        counter-reset: my-counter;
 display: flex;
flex-direction: column;
gap: 20px;

li{
    display: flex;
    align-items: center;
    height:70px;
    background:$ab-grey;
    border-radius: 25px;
    align-items: center;
    counter-increment: my-counter;
    font-weight:500;
    @include shadow($ab-grey, 5%);
    &::before{
        content: counter(my-counter);
        display: flex;
        @include display-center;
        min-height: 30px;
        min-width: 30px;
        background-color: $primary-color;
        border-radius: 50%;
        color: $white;
        margin-right: 20px;
        position: relative;
        right: 15px;
    }
    i {
        color:$ab-text-grey;
        font-size: 1.3em;
        margin-right: 30px;
    }
}      
}
}
#restaurants{
    display: flex;
    flex-direction: column;
background-color:$ab-grey;
padding: 50px 20px;
article{
    width:100%;
    figure{
        width:100%;
        display:flex;
        flex-direction: column;
        @include shadow($ab-grey, 5%);
    border-radius: 15px;
        image{
            object-fit: cover;
            height:180px;
            width:100%;
        }
        figcaption{
            height: 70px;
            background-color: $white;
        }
    }
}
}
