#location{
    display: flex;
    background-color: $lo-grey;
    height: 60px;
    @include display-center;
    box-shadow:0 3px 3px inset darken($lo-grey, 10%);
    p{
font-weight:500;
font-size: $tel-text-size;
color:$lo-text-grey;
i{
    padding-right: 15px;
}
    }
}

#about-us{
    display: flex;
   text-align: center;
    flex-direction: column;
    text-align: center;
    align-items:center;
   background-color:$ab-grey;
   h1{
       margin:40px 20px 20px;
   }
   p{
       font-size: $tel-text-size;
       color:$ab-text-grey;
       font-weight:300;
   }
}

#functionning{
padding: 40px 20px;

    ol{
        counter-reset: my-counter;
 display: flex;
flex-direction: column;

li{
  margin-left: 10px;
  margin-bottom: 25px;
    display: flex;
    align-items: center;
    height:70px;
    background:$ab-grey;
    border-radius: 25px;
    align-items: center;
    counter-increment: my-counter;
    font-weight:500;
    @include shadow($ab-grey, 2%);
    &::before{
        content: counter(my-counter);
        display: flex;
        @include display-center;
        min-height: 30px;
        min-width: 30px;
        background-color: $primary-color;
        border-radius: 50%;
        color: $white;
        margin-right: 10px;
        position: relative;
        right: 15px;
    }
    &:hover{
        background-color:$fun-box-lilas;
        & > i:hover{
            color:$primary-color; /* a voir avec coleur icon qui change color*/
        }
    }
    i {
        color:$ab-text-grey;
        font-size: $tel-text-size;
        margin-right: 20px;
        
    }
}      
}
}
#restaurants{
background-color:$ab-grey;
padding: 30px 20px;

article{
    width:100%;
    margin-bottom: 25px;
    position:relative;
    figure{
        width:100%;
        display:flex;
        flex-direction: column;
        @include shadow($ab-grey, 5%);
        border-radius: 15px;
        background-color:$white;
        span:first-child{
            position:absolute;
            right: 15px;
    top:15px;
    padding:8px 10px;
  color:$new-text;
            background-color:$tertiary-color;
        }
        img{
            object-fit: cover;
            max-height: 150px;
            width:100%;
            border-radius: 18px 18px 0 0;
            object-position: 50% 60%;
        }
        figcaption{
            height: 60px;
            margin-top:20px;
            margin-left: 15px;
            p{
                font-weight: 400;
                color:$ab-text-grey;
                line-height: 1.5em;
                font-size:$tel-text-size;
            }
        }
    }
}
}
