main {
  figure {
    img {
      object-fit: cover;
      width: 100%;
      height: 250px;
      @include media-min($bp-tablet) {
        height: 350px;
      }
    }
  }
  #menu {
    position: relative;
    z-index: 1;
    background-color: $light-grey;
    border-radius: 35px 35px 0 0;
    padding: 20px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-min($bp-desktop) {
      @include margin-destop-max;
      margin-top: -70px;
    }
    section {
      &:first-child {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          font-family: $font;
          font-size: 1.5em;
        }
      }
      &:nth-child(n + 2) {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        justify-content: center;
        width: 100%;

        h2 {
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 300;
          margin-bottom: 15px;
          &::after {
            content: "";
            background-color: $tertiary-color;
            width: 40px;
            height: 3px;
            display: flex;
            margin-top: 5px;
          }
        }
      }

      article {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $white;
        height: 70px;
        @include shadow($light-grey, 10%);
        border-radius: 15px;
        margin-bottom: 20px;
        padding-left: 10px;
        cursor:pointer;

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          line-height: 1.5em;
          min-width: 0;
          * {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          h3 {
            font-size: $tel-text-size;
          }
          p {
            font-weight: 300;
          }
        }
        span {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          width: 60px;
          height: 100%;
          padding-bottom: 13px;
          font-weight: 700;
          overflow: hidden;
          position: relative;
          
          &:hover {
            &::after {
              animation: heart-fill 1s ease-in 2s;
            }
          }
          &::before{
            font-family: "Font Awesome 5 Free";
            content: "\f058";
            font-weight: 900;
            color: $white;
            @include display-center;
          }
          &:after {
            content:"";
            background-color: $tertiary-color;
            @include display-center;
            font-size: 1.5em;
            border-radius: 0 15px 15px 0;
            position: absolute;
            bottom: 0;
            overflow: hidden;
            transition: all 0.3s ease-out forwards;
          }
          
        }
      }

      &:nth-child(2) {
        animation: loading-time-gap nth($animation-time, 1) ease-in;
        @include loading-menu-mode(20%);
        h2 {
          animation: loading-time-gap nth($animation-time, 2) ease-in
            nth($waiting-time,1);
          @include loading-menu-mode(20%);
        }
        article {
          animation: loading-time-gap nth($animation-time, 3) ease-in
            nth($waiting-time, 4);
          @include loading-menu-mode(20px);
        }

        div,
        span {
          animation: loading-menu-gap nth($animation-time, 4) ease-in
            nth($waiting-time, 3);
          @include loading-menu-mode(20px);
        }
      }

      &:nth-child(3) {
        animation: loading-time-gap nth($animation-time, 1) ease-in
          nth($waiting-time, 4);
        @include loading-menu-mode(20%);
        h2 {
          animation: loading-time-gap nth($animation-time, 2) ease-in
            nth($waiting-time, 5);
          @include loading-menu-mode(20%);
        }
        article {
          animation: loading-time-gap nth($animation-time, 3) ease-in
            nth($waiting-time, 4);
          @include loading-menu-mode(20px);
        }

        div,
        span {
          animation: loading-menu-gap nth($animation-time, 4) ease-in
            nth($waiting-time, 4);
          @include loading-menu-mode(20px);
        }
      }

      &:nth-child(4) {
        animation: loading-time-gap nth($animation-time, 1) ease-in
          nth($waiting-time, 7);
        @include loading-menu-mode(20%);
        h2 {
          animation: loading-time-gap nth($animation-time, 2) ease-in
            nth($waiting-time, 5);
          @include loading-menu-mode(20%);
        }
        article {
          animation: loading-time-gap nth($animation-time, 3) ease-in
            nth($waiting-time, 4);
          @include loading-menu-mode(15px);
        }

        div,
        span {
          animation: loading-menu-gap nth($animation-time, 4) ease-in
            nth($waiting-time, 4);
          @include loading-menu-mode(15px);
        }
      }
    }
    .btn {
      align-self: center;
      margin-top: 20px;
    }
  }
}
